#block3d {
    background: url(../img/3d@2x.png) 50% 0 no-repeat;
    padding: 310px 0 170px;
    color: $white;
    margin-bottom: 50px; 
    margin-top: -180px;   
    position: relative;
	
    @media (max-width: 1024px) {
        padding-bottom: 80px;
        padding-top: 300px;
    }

    .block3d-circle {
        left: 53%;
        top: 40%;

        @media (max-width: 1024px) {
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    h2 {
        color: $white;
        max-width: 650px;
        margin: 0 auto;
    }

    h5 {
        font-size:18px;
        letter-spacing: 0.6px;
    }

    .col-2 {
        p {
            font-size: 16px;
            margin: 35px 0 35px 40px;

        }
	
        @media (max-width: 1024px) {
            max-width: 520px;
            margin: 0 auto;
        }
    }
    .stages {
        background: $white;
        padding: 25px 50px;
        color: $purple;
        margin-right: 40px;

        &-slider {
            margin: 20px 0;

            img {
                margin: 0 auto;
            }
        }
        &-type {
            display: inline-block;

            &s {
                list-style: none;
                position: relative;
                padding-bottom: 30px;
            }
            span {
                font-size: 14px;
                letter-spacing: 0.4px;
                font-family: 'FuturaPTBook-Medium';
                border-bottom: 1px dashed $purple;
                margin: 0 10px;
                cursor: pointer;
            }

            .btn {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 100%;
                left: 50%;
                transition: .2s;
                white-space: nowrap;
                transform: translateX(-50%);
            }

            &.current {
                span {
                    color: #b8b8b8;
                    border-color: transparent;
                }
                .btn {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
	
        @media (max-width: 1024px) {
            margin: 0 0 80px;
        }
    }
}