#assistant {
    padding: 88px 0;
    margin: 100px 0 0;
    
    @media (max-width: 1024px) {
        padding: 0;
        margin: 0;
    }
}
.assistant {
    &-right {
        right: 0;
        bottom: 50%;
    }
    &-left {
        left: 0;
        top: 80px;
    }
    &-ellipse {
        top: 80%;
        left: 75%;
    }
    p {
        line-height: 1.33;
        letter-spacing: -0.3px;
        color: #3e3e3e;
        margin: 0 0 40px;
        font-size: 18px;

        &.assistant-header {
            font-size: 44px;
            line-height: 1.05;
            letter-spacing: -1px;
            color: $purple;
            margin: 0;
        }
        &.assistant-preview_text {
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: normal;
            color: $purple;
            font-family: 'FuturaPTBook-Light';
            margin: 15px 30px 50px 0;
        }
    }

    .col-2 {
        &:first-child {
            padding-right: 145px;
        }    
    }

    &-preview {
        margin: 100px 0 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 315px;

        &-slide {
            padding: 25px 0;
            flex-grow: 0;
            visibility: hidden;
            opacity: 0;
            transform: translateY(100%);
            transition: .5s;

            &_1 {
                transition-delay: 0;

            }
            &_2 {
                transition-delay: .3s;
            }
            &_3 {
                align-self: flex-start;
                transition-delay: .5s;
            }

            .isVisible & {
                visibility: visible;
                opacity: 1;
                transform: translateY(0%);
            }

            .textbox {
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
                padding: 15px 25px;
                margin-bottom: 5px;
                border-radius: 5px;
            }

            &.varia {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 20px;
                    right: 100%;
                    width: 60px;
                    height: 60px;
                    background: url(../img/assistant-logo.jpg) 50%/cover no-repeat;
                    border-radius: 100%;
                    margin: auto 15px auto 0;
                }
                .textbox {
                    background: $white;
                }
            }
            &.user {
                align-self: flex-end;
                
                .textbox {
                    background-image: linear-gradient(102deg, #9600c9, #71069c 42%, $purple);
                    color: $white;
                }
            }
            .timebox {
                font-family: Roboto;
                font-size: 12px;
                line-height: 1.33;
                color: #aab2b7;
                float: right;
            }
        }
    }
	
    @media (max-width: 1400px) {
        &-left {
            right: 50%;
            left: auto;
            margin-right: 40px;
        }
    }
	
    @media (max-width: 1024px) {
        margin: 0 0 80px;

        &-left {
            margin-right: 100px;
            top: -80px;
        }
        &-right {
            bottom: 0%;
            transform: translateX(60%);
        }

        .row {
            display: flex;
        }
        .col-2 {
            &:first-child {
                padding-right: 60px;
                flex: 0 0 40%;

            }
            &:last-child {
                flex: 0 0 60%;
            }
        }

        &-preview {
            width: 168px;

            &-slide {
                padding: 15px 0;

                .textbox {
                    padding: 15px;
                }
            }
        }
    }
    
    @media (max-width: 767px) {
        .col-2:first-child {
            display: none;
        }
        .col-2 {
            flex: 0 0 100% !important;
        }
        &-left {
            display: none;
        }
        &-right {
            bottom: 10%;
            transform: translateX(75%);
        }
    }
}