#benefits {
    margin: 50px 0 0;
}
.benefits {
    &-group {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    &-ellipce {
        top: 35%;
        right: 30px;
    }

    &-slider {
        margin-top: 25px;

        .slick-slide {
            padding: 28px;
        }
	
        @media (max-width: 567px) {
            margin-left: -30px;
            margin-right: -30px;
        }
    }
    &-slide {
        background-color: $white;
        border: solid 1px rgba(81, 12, 118, 0.11);
        padding: 40px 25px;
        border-radius: 8px;

        &:hover {
            box-shadow: 9px 12px 39px 0 rgba(0, 0, 0, 0.14);
            border-color: transparent;
        }
	
        @media (max-width: 767px) {
            .slick-active & {
                box-shadow: 9px 12px 39px 0 rgba(0, 0, 0, 0.14);
                border-color: transparent;
            }
        }

        h3 {
            font-size: 16px;
            height: 42px;
        }
        p {
            font-size: 14px;
            line-height: 1.07;
            margin: 17px 0 50px;
            height: 45px;
        }

        &_img {
            height: 70px;
            position: relative;
            margin-bottom: 40px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .btn {
            padding: 14px 5px;
            display: block;
        }
    }
}