@font-face {
	font-family: 'FuturaPTBook';
	src: url('../fonts/FuturaPTBook.otf') format('opentype');
}
@font-face {
	font-family: 'FuturaPTBook-Bold';
	src: url('../fonts/FuturaPTBold.otf') format('opentype');
}
@font-face {
	font-family: 'FuturaPTExtraBold';
	src: url('../fonts/FuturaPTExtraBold.otf') format('opentype');
}
@font-face {
	font-family: 'FuturaPTBook-Light';
	src: url('../fonts/FuturaPTLight.otf') format('opentype');
}
@font-face {
	font-family: 'FuturaPTBook-Demi';
	src: url('../fonts/FuturaPTDemi.otf') format('opentype');
}
@font-face {
	font-family: 'FuturaPTBook-Medium';
	src: url('../fonts/FuturaPTMedium.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-size: 18px;
	color: #0f0f0f;
	font-family: 'FuturaPTBook';
}
body, html {
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: #1d1d1b;
    transition: .3s;
    
    &:hover {
        opacity: .8;
        text-decoration: none;
        color: inherit;
    }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: $purple;
	text-transform: uppercase;
	font-family: 'FuturaPTBook-Bold';
	font-weight: normal;
}
b, strong {
    font-family: 'FuturaPTBook-Bold';
	font-weight: normal;
}
h2 {
	font-size: 32px;
	line-height: 1.13;
	letter-spacing: 1px;

    @media (max-width: 767px) {
        font-size: 22px;
    } 
}
.btn {
	font-size: 18px;
	padding: 14px 38px;
	border: 0;
	background: $purple;
	border: 1px solid $purple;
	color: $white;
	outline: none;
	display: inline-block;
	cursor: pointer;
	font-family: 'FuturaPTBook';
	white-space: nowrap;

	&:hover {
		background: $white;
		color: $purple;
	}

    &-reverse {
		background: $white;
		border-color: $white;
		color: $purple;
		box-shadow: 0 10px 25px 0 rgba(58, 64, 91, 0.15);

		&:hover {
			background: $purple;
			color: $white;
		}
	}
	
	@media (max-width: 567px) {
		#block3d & {
			padding: 14px 5px;
			display: block;
		}
	}
}
.container {
	overflow: hidden;
}
.content {
	width: 1200px;
	max-width: 100%;
	padding: 0 30px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.centered {
	text-align: center;
}
.screen {
	position: relative;
    
    &-layer {
        position: absolute;
    }
}

input, select {
    color: $purple;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 10px 25px 0 rgba(58, 64, 91, 0.15);
    border: solid 1px $purple;
	padding: 14px;
	outline: none;
	font-family: 'FuturaPTBook';
	border-radius: 0;
	height: 50px;
	background: #fff;

	.was-validated &:invalid, &.error {
		border-color: red;
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $purple;
	font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
	color: $purple;
	font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
	color: $purple;
	font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
	color: $purple;
	font-size: 16px;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 55px;
	
	@media (max-width: 1024px) {
		display: block;
	}
}
.col-2 {
	flex: 0 0 50%;
	max-width: 50%;

	p {
		font-size: 16px;
		margin: 35px 0 35px 40px;

	}
	
	@media (max-width: 1024px) {
		max-width: 100%;

		p {
			margin-left: 0 !important;
		}
	}
}

.type {
	&-container {
		position: relative;
	}
	&-list {
		list-style: none;
		display: inline-block;
		white-space: nowrap;
	}
	&-item {
		display: inline-block;
		vertical-align: middle;
		color: #a2a2a2;
		text-transform: uppercase;
		cursor: pointer;

		&.current {
			color: $purple;
		}
	}
	&-indicator {
		position: absolute;
		bottom: 0;
		height: 2px;
		background-color: $purple;
		will-change: left, right;

		&.swipe {
			&-left {
				transition: left .3s;
			}
			&-right {
				transition: right .3s;
			}
		}
	}

	@media (max-width: 1200px) {
		&-container {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			margin: 0 -30px;
			padding: 0 30px;
			-ms-overflow-style: none;

			&::-webkit-scrollbar { 
				height: 0;
				width: 0;
				background: transparent; 
			}
		}
	}
}

.slick {
	&-clide {
		outline: none;
	}
	&-arrow {
		text-indent: -9999px;
		position: absolute;
		top: 50%;
		width: 32px;
		height: 32px;
		margin: -16px 0 0;
		outline: none;
		border-radius: 100%;
		border: 0;

		&.slick-disabled {
			filter: grayscale(100%);
			opacity: .5;
		}
	}
	&-prev {
		right: 100%;
		background: url(../img/arrow-left.svg) 50%/cover;
	}
	&-next {
		left: 100%;
		background: url(../img/arrow-right.svg) 50%/cover;
	}

	&-dots {
		list-style: none;

		li {
			display: inline-block;
			margin: 0 4px;

			button {
				outline: none;
				background: $white;
				border: 1px solid $purple;
				border-radius: 100%;
				width: 16px;
				height: 16px;
				cursor: pointer;
				text-indent: -99999px;
			}

			&.slick-active {
				button {
					background: $purple;
				}
			}
		}
	}
}