#constructor {

}
.constructor {
    &-container {
        @media (max-width: 1200px) {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            margin: 0 -30px;
            padding: 0 30px;

			&::-webkit-scrollbar { 
				height: 0;
				width: 0;
				background: transparent; 
			}
        }
    }
    &-ul {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        white-space: nowrap;
    }
    &-li {
        flex-grow: 1;
        flex-basis: 0;
        position: relative;
        white-space: normal;

        @media (max-width: 1024px) {
            min-width: 222px;
        }

        &:after {
            content: "";
            width: 0;
            border-top: 1px dashed transparent;
            position: absolute;
            top: 100%;
            left: 50%;
            margin: -20px 20px;
            transition: .3s .1s;
        }
        &:hover, &.active {
            &:not(:last-child):after {
                width: calc(100% - 40px);
                border-color: $purple;
            }
        }
    }
    &-item {
        padding: 25px 19px 5px;
        border: 1px solid transparent;
        background: transparent;
        margin-bottom: 45px;
        position: relative;
        transition: .3s;

        p {
            font-size: 14px;
            line-height: 1.07;
            color: #c6c6c6;
            height: 95px;
        }
        strong {
            font-size: 18px;
            line-height: 0.94;
            color: #ababab;
            height: 50px;
            display: block;
            font-family: 'FuturaPTBook-Medium';
        }

        &:before {
            content: "";
            height: 0;
            border-left: 1px dashed transparent;
            position: absolute;
            top: 100%;
            left: 50%;
            transition: .3s;
        }

        .current & {
            background: $purple;
            border-color: $purple;

            p, strong {
                color: $white;
            }
            path, g {
                fill: $white;
            }

            &:before {
                border-color: $purple;
                height: 45px;
            }
        }
    }
    &-img {
        margin-bottom: 15px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;

        path, g {
            fill: #c6c6c6;
        }
    }
    &-num {
        display: inline-block;
        border: 1px solid #c6c6c6;
        color: #c6c6c6;
        border-radius: 100%;
        padding: 10px 14px;
        line-height: 1;
        transition: .2s .2s;

        .active &, .constructor-li:hover & {
            border-color: $purple;
            color: $purple;
            background: $white;
        }
    }
}