#download {
    background-image: linear-gradient(235deg, #9600c9, #71069c 42%, $purple);
    padding: 95px 0 0;
    color: $white;
    font-size: 40px;
    line-height: 1.1;
    overflow: hidden;

    .screen-layer {
        top: 0%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: none;
    }

    @media (max-width: 767px) {
        padding-top: 23px;
    }
}
.download {
    list-style: none;

    &-links {
        margin: 57px 0 44px;

        li {
            display: inline-block;
            margin-left: 111px;

            &:first-child {
                margin: 0;
            }
        }
    }
    &-images_list {
        list-style: none;
        line-height: 0;

        &-item {
            display: inline-block;
            margin-left: 50px;
            visibility: hidden;
            opacity: 0;
            transition: .5s;
            transform: translateY(100%);

            &.isVisible {
                transform: translateY(0%);
                opacity: 1;
                visibility: visible;
            }

            &:first-child {
                margin: 0;
            }
        }

        &-google {
            transition-delay: .2s;
        }
    }

    @media (max-width: 767px) {
        &-links {
            margin: 27px 0 36px;
    
            li {
                margin: 5px 0  0;
            }
        }
        &-images_list { 
            height: 178px;
            position: relative;
            overflow: hidden;
            margin: 0 -30px;

            li {
                position: absolute;

                img {
                    max-width: none;
                }

                &:first-child {
                    right: 50%;
                    margin: 0 25px 0 0;
                }
                &:last-child {
                    left: 50%;
                    margin: 0 0 0 25px;
                }
            }
        }
    }
}