#first-screen {
    background: url(../img/first-screen-bg.jpg) 0% 100%/cover no-repeat;
	color: $white;
    padding: 200px 0;
    overflow: hidden;

    @media (max-width: 1024px) {
        padding: 100px 0 270px;
    }
    @media (max-width: 767px) {
        padding-bottom: 80px;
    }
}
.first-screen{ 
    &_content {
        max-width: 100%;
        width: 450px;
        margin-left: 100px;
        
        p {
            line-height: 22px;
        }
        .btn {
            margin-top: 50px;
        }
    }
    &_h1 {
        color: $white;
        font-size: 42px;
        margin-bottom: 27px;
        font-family: 'FuturaPTExtraBold';
    }
    &_back {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    &_table {
        right: -10%;
        bottom: -2%;
    }
    &_phone {
        bottom: -2%;
        left: 50%;
        margin-left: -200px;
    }
    &_group {
        right: 50%;
    }

    @media (max-width: 1024px) {
        &_content {
            margin: 0;
        }
        &_phone {
            left :10%;
            margin: 0;
        }
    }

    @media (max-width: 767px) {
        &_content {
            width: 100%;
            min-width: 100%;
        }
        &_phone, &_table {
            display: none;
        }
    }
}