#footer {
    background-image: linear-gradient(128deg, #9600c9, #71069c 42%, #510c76);
    padding-bottom: 30px;
    margin-top: 250px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 80px;
        background:url(../img/footer-bg@2x.png) 50% 100%;

    }

    @media (max-width: 1100px) {
        margin-top: 180px;
    } 
    @media (max-width: 767px) {
        margin-top: 95px;
    }
}
.footer {
    &-circle {
        &_left {
            left: 0;
            top: 150px;
        }
        &_right {
            bottom: -5%;
            right: -5%;
        }
    }
    &-top_block {
        &-social {
            list-style: none;
            @media (max-width: 767px) {
                margin: 0 -30px;
            }
            
            li {
                display: inline-block;
                vertical-align: middle;
                margin: 0 24px;
            }

            &_item {
                width: 53px;
                height: 53px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: $white;
                    opacity: 1;

                    g, path {
                        fill: $purple;
                    }
                }
            }
        }
        &-mail {
            margin: 70px 0;

            a {
                color: $white;
                font-size: 36px;
                font-family: 'FuturaPTBook-Demi';
            }
        }
    }
    &-bottom_block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 16px;

        &-p {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;

            .desc-hidden {
                display: none;
            }

            a, span {
                color: $purple-light;
                border-bottom: 1px dashed $purple-light;
            }
        }
        &-flex {
            display: flex;
            justify-content: space-around;
        }

        @media (max-width: 767px) {
            &-p {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                margin: 0 0 30px;
                text-align: left;

                &:first-child {
                    order: 3;
                    margin: 20px 0 0;
                    text-align: center;
                }

                .desc-hidden {
                    display: block;
                }
                .mobile-hidden {
                    display: none;
                }
            }
            &-flex {
                justify-content: space-between;
            }
        }
    }
}