.footer_form {
    padding: 50px 165px;
    background: $white;
    font-size: 16px;
    border-radius: 13px;
    box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.13);
    visibility: hidden;
    transition: .5s;
    opacity: 0;

    &.isVisible {
        transform: translateY(-95px);
        visibility: visible;
        opacity: 1;
    }

    h2 {
        margin-bottom: 20px;
    }

    &-fieldset {
        display: flex;
        flex-direction: row;
        margin-top: 35px;
    }
    &-field {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding: 15px;

        button {
            width: 100%;
            height: 50px;
        }
    }

    @media (max-width: 1024px) {
        padding: 45px;
        border-radius: 0;
    }

    @media (max-width: 767px) {
        &-fieldset {
            flex-direction: column;
        }
        &-field {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;
            margin-top: 24px;
        }
    } 
}