#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	transition: background .2s;
}
.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
	transition: .7s;

	.logo {
		text-indent: -99999px;
		display: block;
		width: 105px;
		height: 29px;
		background: url(../img/logo.svg) 50%/contain no-repeat;
	}
	&-nav {
		flex-grow: 1;
		text-align: right;
	}
	.nav {
		flex-grow: 1;
		text-align: right;
		
		&-li {
			display: inline-block;
		}
		&-link {
			color: $white;
			text-transform: uppercase;
			padding: 5px 15px;
			font-size: 12px;
		
			&.active {
				font-family: 'FuturaPTBook-Bold';
			}
		}
	}
	&-nav-btn {
		display: none;
	}

	&-reverse, &.visible-nav {
		background: $white;
		box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);

		.logo {
			background-image: url(../img/logo-reverse.svg);
		}

		.nav {
			&-link {
				color: $purple;
			}
		}
	}


    @media (max-width: 1100px) {
		flex-wrap: wrap;

        .nav {
			display: none;
			flex-basis: 100%;
			text-align: center;
			padding-top: 40px;
			
			&-li {
				display: block;
			}
			&-link {
				display: block;
				padding: 10px;
			}
		}
		&-nav-btn {
			display: block;
			margin: 0 0 0 auto;

			&_close {
				display: none;
			}

			.visible-nav & {
				&_close {
					display: block;
				}
				&_show {
					display: none;
				}
			}

			g, path {
				fill: $white;
			}
		}
		&-reverse, &.visible-nav {
			.header-nav-btn {
				g, path {
					fill: $purple;
				}
			}
		}
    }
}