#orders {
    padding: 25px 0 140px;
    margin-bottom: 75px;

    .slick-slide {
        padding: 25px 28px 40px;
    }

    .screen-layer {
        right: 0;
        left: 0;
        margin: auto;
        max-width: none;
    }

    @media (max-width: 767px) {
        padding-bottom: 30px;
        margin: 0;
    }
}
.orders {
    &-slider {
        margin: 65px -30px 0;
    }
    &-slide {
        padding: 25px;
        color: $purple;

        &:hover {
            background-color: $white;
            box-shadow: 17px 25px 28px 0 rgba(0, 0, 0, 0.21);
            z-index: 99;
        }
	
        @media (max-width: 767px) {
            .slick-active & {
                background-color: $white;
                box-shadow: 17px 25px 28px 0 rgba(0, 0, 0, 0.21);
                z-index: 99;
            }
        }

        h3 {
            font-size: 24px;
            line-height: 27px;
            letter-spacing: -0.3px;
            height: 55px;

            span {
                text-transform: none;
                font-family: 'FuturaPTBook';
                display: block;
            }
        }

        p {
            font-size: 32px;
            line-height: 1.5;
            letter-spacing: -0.4px;
            margin: 0 0 10px;
        }

        &_price {
            font-family: 'FuturaPTBook-Bold';
        }

        &_img {
            height: 300px;
            position: relative;
            margin-bottom: 15px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                max-height: 100%;
            }
        }

        .btn {
            font-size: 16px;
            padding: 14px 5px;
            width: 100%;
        }

        @media (max-width: 1024px) {
            width: 410px;
        }
        @media (max-width: 567px) {
            width: 100%;
        }
    }
}