#partners {
    padding: 20px 0 200px;
    margin-bottom: 130px;
    position: relative;

    .screen-layer_right {
        bottom: 100%;
        right: 0;
        transform: translateY(50%);
    }

    .screen-layer_group {
        top: 90%;
        left: 35%;
    }
    
    @media (max-width: 1024px) {
        padding-bottom: 60px;
        margin-bottom: 60px;

        .screen-layer_right {
            width: 50px;
        }
    }
}
.partners {
    &_type-list {
        margin: 40px 0 0;

        &-item {
            padding: 15px 13px;
            font-size: 15px;
        }
    }

    .slick-track {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-list {
        margin: 80px 30px;

        &_item {
            .partner {
                padding: 0 20px;

                img {
                    max-height: 70px;
                    margin: 0 auto;
                }
            }
        }
        @media (max-width: 767px) {
            margin: 40px 0;
        }
    }

    p {
        max-width: 760px;
        margin: 60px auto 40px;
    }

    .btn {
        padding: 14px 70px;
    }
}