.popup {
    position: fixed;
    top: 0;
    left: 0;
    background: $purple;
    background: rgba(81, 12, 118, .75);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    overflow: auto;
    padding: 30px 10px;

    @media (max-height: 600px) {
        align-items: flex-start;
    }

    &-active {
        overflow: hidden;
    }

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    &-close {
        position: absolute;
        bottom: 100%;
        left: 100%;
        margin: 5px;
        width: 20px;

        @media (max-width: 767px) {
            margin: -40px -35px;

            g {
                fill: $purple;
            }
        }
    }

    &-container {
        position: relative;
        max-width: 100%;
    }
    &-content {
        background: $white;
        color: $purple;
        padding: 30px;
        width: 384px;
        max-width: 100%;
        font-size: 16px;
        box-shadow: 6px 6px 24px 0 rgba(0, 0, 0, 0.5);

        &.wide {
            width: 720px;
        }

        &_header {
            font-size: 22px;
            font-family: 'FuturaPTBook-Medium';
            text-align: center;
            margin-bottom: 25px;
        }
    }
    &_form {
        &-fieldset {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &-field {
            margin: 10px 0;
            flex: 0 0 100%;

            .btn {
                width: 100%;
            }

            input[type=checkbox] {
                position: absolute;
                visibility: hidden;

                & + label {
                    position: relative;
                    margin: 20px 0;
                    display: block;
                    padding-left:25px;

                    a {
                        color: #1875f0;
                        border-bottom: 1px solid #1875f0;
                    }

                    &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        border: 1px solid $purple;
                        position: absolute;
                        top: 2px;
                        left: 0;
                    }
                }
                .was-validated & {
                    &:invalid + label {
                        &::before {
                            border-color: red;
                        }
                    }
                }
                &:checked {
                    & + label {
                        &:after {
                            content: "";
                            background: $purple;
                            width: 10px;
                            height: 10px;
                            left: 4px;
                            top: 6px;
                            position: absolute;
                            
                        }
                    }
                }
            }

            .wide & {
                flex: 0 0 50%;
                padding: 0 10px;

                @media (min-width: 768px) {
                    input[type=checkbox] {
                        & + label {
                            margin: 0;
                        }
                    }
                }

                @media (max-width: 767px) {
                    flex: 0 0 100%;
                    padding: 0;
                }
            }
        }
    }
    &-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 25px;
        margin-bottom: 25px;

        li {
            flex: 0 0 50%;
            margin: 10px 0;
            position: relative;

            &:before {
                content: "";
                width: 12px;
                height: 12px;
                position: absolute;
                background: url(../img/list-style.svg);
                top: 4px;
                right: 100%;
                margin-right: 6px;
            }

            @media (max-width: 767px) {
                flex: 0 0 100%;
            }
        }
    }
    &-thanks-text {
        text-align: center;
    }

    &-test {
        .step {
            display: none;

            &-1 {
                display: block;
            }

            &-counter {
                font-size: 12px;
                color: #6b6b6b;
            }
            &-p {
                font-family: 'FuturaPTBook-Medium';
            }
        }
        .popup_form-fieldset {
            padding: 25px 0;
        }
        .popup_step-btn {
            position: absolute;
            top: 100%;
            right: 0;
            margin: 0px 25px;
            transform: translateY(-50%);

            .btn {
                width: auto;
            }
        }
    }
}