.portfolio {
    &-types {
        margin: 47px 0 0;

        &_item {
            padding: 15px 18px;
        }
    }
    &-list {
        line-height: 0;
        margin-top: 32px;

        &_item {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../img/portfolio-blackout.svg) 50%;
            }
            &-desc {
                background: $purple;
                color: $white;
                display: flex;
                flex-direction: row;
                position: absolute;
                bottom: 44px;
                padding: 24px;
                text-align: left;
                width: 440px;
                font-size: 16px;
                line-height: normal;

                p:first-child {
                    padding-right: 15px;
                }

                @media (max-width: 767px) {
                    position: relative;
                    width: 100%;
                    bottom: 0;
                }
            }
        }
    }
    @media (max-width: 767px) {
        padding: 0;
    }
}