#services {
    background: url(../img/services.svg) 50% 0/cover no-repeat;
    padding: 130px 0 95px;

    h2 {
        line-height: 1.81;
        letter-spacing: -1.2px;
    }
    
    @media (max-width: 1024px) {
        padding-bottom: 1px;
        margin-top: -100px;
    }
}

.services {
    &_type {
        &-list {
            margin-top: 25px;

            &-item {
                padding: 9px 45px;
            }
        
            @media (max-width: 767px) {
                white-space: normal;

                &-item {
                    padding: 9px 5px;
                    width: 49%;
                    text-align: center;
                }
            }
        }
    }
    &-list  {
        img {
            width: 100%;
        }
    }
    &-p-header {
        font-size: 22px !important;
        line-height: 1.27;
        color: $purple;
        max-width: 560px;
    }
    &-ul {
        font-size: 16px;
        list-style: none;
        text-align: left;
        color: #000000;
        padding-left: 55px;
        margin-bottom: 50px;
        max-width: 560px;
        
        li {
            margin: 8px 0;
            position: relative;

            &:before {
                content: "";
                width: 12px;
                height: 12px;
                position: absolute;
                background: url(../img/list-style.svg);
                top: 4px;
                right: 100%;
                margin-right: 6px;
            }
        }
    }

    @media (max-width: 1024px) {
        &-p-header, &-ul {
            .col-2 & {
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
        &-ul {
            padding-left: 25px;
        }
    }
}