#test {
    background: #2a023f url(../img/test.png) 50% 0 no-repeat;
    padding: 45px 0 55px;
    margin: 65px 0;
    
    h2 {
        color: $white;
        margin-bottom: 30px;
    }
    .btn {
        font-size: 22px;
        padding: 10px 80px;
    }

    @media (max-width: 767px) {
        margin: 0 0 40px;
        padding: 48px 0 42px;
    }
}