<div id="block3d" class="screen">
    <img src="../img/3d-circle.svg" class="parallax-layer screen-layer block3d-circle" />
    <div class="content centered">
        <h2>Превратите картинку планировку в&nbsp;интерактивную 3D квартиру</h2>
        <div class="row">
            <div class="col-2">
                <div class="stages">
                    <h5>Этапы проектирования из картинки в 3D</h5>
                    <div class="stages-slider">
                        <div class="stages-slide">
                            <img src="../img/stage1.png" />
                        </div>
                        <div class="stages-slide">
                            <img src="../img/stage2.png" />
                        </div>
                        <div class="stages-slide">
                            <img src="../img/stage3.png" />
                        </div>
                    </div>
                    <div class="stages-types">
                        <div class="stages-type">
                            <span>1 Этап</span>
                        </div>
                        <div class="stages-type">
                            <span>2 Этап</span>
                        </div>
                        <div class="stages-type">
                            <span>3 Этап</span>
                            <a href="" class="btn">Попробовать в приложении</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p>Чтобы получить в режиме онлайн 3d визуализацию Вашей квартиры, перетащите его в окно слева, либо загрузите планировку с Вашего компьютера. После загрузки и выбора адреса мы создадим вам 3d планировку Вашей будущей квартиры.</p>
                <p>
                    <a href="#planPopup" class="btn btn-reverse popup-btn">Получить планировку на почту</a>
                </p>
            </div>
        </div>
    </div>
</div>