<div id="assistant" class="screen">
    <img src="../img/assistant-right.svg" class=" screen-layer assistant-right" />
    <img src="../img/assistant-left.svg" class="screen-layer assistant-left" />
    <img src="../img/assistant-ellipse.svg" class="parallax-layer screen-layer assistant-ellipse" />
    <div class="content assistant">
        <div class="row">
            <div class="col-2">
                <div class="assistant-preview">
                    <div class="assistant-preview-slide assistant-preview-slide_1 varia">
                        <div class="textbox">Привет, чем я могу помочь?<br/><br></div>
                        <span class="timebox">10:45 AM</span>
                    </div>
                    <div class="assistant-preview-slide assistant-preview-slide_2 user">
                        <div class="textbox">Найди интерьер в стиле хай тек</div>
                        <span class="timebox">10:45 AM</span>
                    </div>
                    <div class="assistant-preview-slide assistant-preview-slide_3 varia">
                        <div class="textbox">Я нашла кое что для тебя</div>
                        <span class="timebox">10:46 AM</span>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p class="assistant-header"><strong>Привет, я Варя!</strong></p>
                <p class="assistant-preview_text">Голосовой помощник который будет создавать интерьеры вместе с вами</p>
                <p>Современные программы имеют сложный интерфейс. Теперь всё стало проще: Робот дизайнер интерьера Варя расскажет о товаре, предупредит вас об ошибках проектирования, предложит интересные решения. Общайтесь. Попросите Варю поменять диван, обои, ламинат или весь интерьер целиком. Спрашивайте параметры комнат, информацию о товарах и совершайте покупки.</p>
                <a href="" class="btn">Поговорить в приложении</a>
            </div>
        </div>
    </div>
</div>