<div class="popup-content wide" id="benefit1Popup">
    <div class="popup-content_header">Найти свою квартиру</div>
    <ul class="popup-list">
        <li>Самая большая база БТИ</li>
        <li>Профессиональные архитекторы</li>
        <li>Точно проработанные планировки</li>
        <li>Умный голосовой помощник</li>
    </ul>
    <form action="/info" method="POST" class="needs-validation" novalidate>
        <input type="hidden" name="tag" value="Поиск квартиры" />
        <div class="popup_form-fieldset">
            <div class="popup_form-field popup_form-field-c2">
                <input type="text" placeholder="Город, улица, дом, квартира" name="popup-benefit1_form-address" id="popup-benefit1-address" required />
            </div>
            <div class="popup_form-field popup_form-field-c2">
                <select id="popup-benefit1_form-type" name="popup-benefit1_form-type" required>
                    <option value="">Выбрать планировку</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="popup_form-field popup_form-field-c2">
                <input type="text" placeholder="Ваш телефон" name="popup-benefit1-phone" id="popup-benefit1-phone" class="phone-mask" required />
            </div>
            <div class="popup_form-field popup_form-field-c2">
                <input type="checkbox"  name="popup- benefit1-check" id="popup-benefit1-check" required />
                <label for="popup-benefit1-check" class="agreement"><span>Согласен с <a href="">пользовательским соглашением</a></span></label>
            </div>
            <div class="popup_form-field popup_form-field-c2">
                <button type="submit" class="btn">Отправить</button>
            </div>
        </div>
    </form>
</div>