<div id="benefits" class="screen">
    <img src="../img/benefits-group.svg" class="parallax-layer screen-layer benefits-group" />
    <img src="../img/benefits-ellipce.svg" class="parallax-layer screen-layer benefits-ellipce" />
    <div class="content centered">
        <h2>Наши преимущества</h2>
        <div class="benefits-slider">
            <div>
                <div class="benefits-slide">
                    <div class="benefits-slide_img"><img src="../img/design-mug.svg" /></div>
                    <h3>Дизайн интерьера бесплатно</h3>
                    <p>В базе 65 000 000 планировок. Для каждой комнаты разработано несколько десятков вариантов расстановки мебели и оборудования</p>
                    <a href="#benefit1Popup" class="btn popup-btn">Найти свою квартиру</a>
                </div>
            </div>
            <div>
                <div class="benefits-slide">
                    <div class="benefits-slide_img"><img src="../img/interior.svg" /></div>
                    <h3>Сделайте интерьер неповторимым и удобным</h3>
                    <p>Посмотрите как интерактивные персонажи живут в вашей виртуальной квартире.</p>
                    <a href="${require('../pdf/ilovepdf_jpg_to_pdf.pdf')}" target="_blank" class="btn">Cоздать аватары семьи</a>
                </div>
            </div>
            <div>
                <div class="benefits-slide">
                    <div class="benefits-slide_img"><img src="../img/send-money.svg" /></div>
                    <h3>Гарантия лучших цен</h3>
                    <p>Миллионы товаров которые продаются “здесь и сейчас” с лучшими ценами. Работы, заказные изделия: кухни, гардеробные уже просчитаны.</p>
                    <a href="#partners" class="btn">Из чего собраны интерьеры</a>
                </div>
            </div>
        </div>
    </div>
</div>