<div id="constructor">
    <div class="content centered">
        <h2>Настольный конструктор Plannerix</h2>
        <div class="constructor-container">
            <div class="constructor-ul">
                <div class="constructor-li">
                    <div class="constructor-item">
                        <div class="constructor-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="56" viewBox="0 0 51 56">
                                <path fill="#FFF" fill-rule="nonzero" d="M17.386 51.333A2.327 2.327 0 0 0 19.705 49a2.327 2.327 0 0 0-2.319-2.333A2.327 2.327 0 0 0 15.068 49a2.327 2.327 0 0 0 2.318 2.333zm9.32-46.666h-.024c-.64 0-1.147.522-1.147 1.166a1.163 1.163 0 1 0 2.33 0c0-.644-.52-1.166-1.16-1.166zm-7.001 0h-4.637c-.64 0-1.159.522-1.159 1.166 0 .644.52 1.167 1.16 1.167h4.636c.64 0 1.159-.523 1.159-1.167s-.52-1.166-1.16-1.166zM38.25 16.333h-9.273c-9.727 0-12.75 11.119-12.75 15.167 0 5.418 1.56 8.167 4.637 8.167 4.808 0 7.174-4.541 7.844-6.104.8-.299 2.683-.896 4.906-.896s4.105.597 4.905.896c.67 1.563 3.037 6.104 7.845 6.104C49.44 39.667 51 36.918 51 31.5c0-4.048-3.023-15.167-12.75-15.167zm8.114 21c-4.032 0-5.844-5.005-5.86-5.056a1.176 1.176 0 0 0-.613-.672c-.113-.051-2.805-1.272-6.277-1.272-3.473 0-6.164 1.22-6.278 1.272-.285.13-.508.376-.612.672-.016.051-1.829 5.056-5.86 5.056-.575 0-2.319 0-2.319-5.833 0-1.995 1.925-12.833 10.432-12.833h9.273c8.508 0 10.432 10.838 10.432 12.833 0 5.833-1.743 5.833-2.318 5.833zm-17.387-14h-1.159v-1.166c0-.644-.52-1.167-1.159-1.167-.64 0-1.159.523-1.159 1.167v1.166h-1.16c-.639 0-1.158.523-1.158 1.167s.52 1.167 1.159 1.167H25.5v1.166c0 .644.52 1.167 1.16 1.167.639 0 1.158-.523 1.158-1.167v-1.166h1.16c.64 0 1.158-.523 1.158-1.167s-.519-1.167-1.159-1.167zM33.614 35c-.64 0-1.16.523-1.16 1.167V42H2.319V11.667h30.137v1.166c0 .644.519 1.167 1.159 1.167s1.159-.523 1.159-1.167V8.167c0-4.504-3.64-8.167-8.114-8.167H8.114C3.64 0 0 3.663 0 8.167v39.666C0 52.337 3.64 56 8.114 56h18.545c4.474 0 8.114-3.663 8.114-8.167V36.167c0-.644-.52-1.167-1.16-1.167zM2.318 8.167c0-3.216 2.601-5.834 5.796-5.834h18.545c3.195 0 5.796 2.618 5.796 5.834v1.166H2.318V8.167zm30.137 39.666c0 3.216-2.601 5.834-5.796 5.834H8.114c-3.195 0-5.796-2.618-5.796-5.834v-3.5h30.137v3.5zm5.795-24.5c-.64 0-1.16.523-1.16 1.167s.52 1.167 1.16 1.167c.64 0 1.16-.523 1.16-1.167s-.52-1.167-1.16-1.167zm2.318 2.334c-.64 0-1.159.522-1.159 1.166 0 .644.52 1.167 1.16 1.167.639 0 1.158-.523 1.158-1.167s-.519-1.166-1.159-1.166zm2.318-2.334c-.64 0-1.159.523-1.159 1.167s.52 1.167 1.16 1.167c.64 0 1.158-.523 1.158-1.167s-.519-1.167-1.159-1.167zm-2.318 0c.64 0 1.16-.522 1.16-1.166 0-.644-.52-1.167-1.16-1.167-.64 0-1.159.523-1.159 1.167s.52 1.166 1.16 1.166z"/>
                            </svg>
                        </div>
                        <strong>Удобная игровая<br/>форма</strong>
                        <p>настольный конструктор с наклейками и миллиметровкой</p>
                    </div>
                    <span class="constructor-num"><b>1</b></span>
                </div>
                <div class="constructor-li">
                    <div class="constructor-item">
                        <div class="constructor-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="45" viewBox="0 0 47 45">
                                <g fill="#C6C6C6" fill-rule="nonzero">
                                    <path d="M9.732 37c-.356 0-.704-.094-1.018-.282L6.02 35.13a2.102 2.102 0 0 1-.748-2.836l11.224-20.239c.268-.485.71-.835 1.24-.982a1.976 1.976 0 0 1 1.555.21l2.69 1.583c.97.574 1.306 1.844.753 2.836L11.509 35.95A2.04 2.04 0 0 1 9.732 37zm8.548-23.952L7.02 33.305l2.704 1.651L20.982 14.7l.002-.004c.012-.022.004-.053-.012-.061l-2.692-1.586zM3.442 43c-.343 0-.6-.107-.732-.18-.249-.132-.812-.54-.694-1.46l.497-3.904c.075-.587.421-1.059.954-1.298.53-.239 1.16-.205 1.726.088l2.866 1.486c.578.3.92.776.94 1.312.021.533-.28 1.03-.829 1.363l-3.7 2.277c-.388.24-.737.316-1.028.316zm1.14-4.859l-.299 2.339 2.2-1.354-1.9-.985zM37.17 37c-.434 0-.942-.109-1.56-.42C33.56 35.554 19.994 5.043 20 1.478c.002-.83.443-1.172.706-1.304 1.286-.643 2.296-1.145 19.155 30.8.441.84.733 1.388.826 1.561.348.633.406 1.318.173 1.976-.36 1.014-1.347 1.733-2.082 2.04l-.218.092c-.383.17-.822.358-1.39.358zm-.482-2.186c.442.208.552.16 1.037-.051l.248-.105c.354-.148.812-.508.924-.824.033-.093.037-.177-.04-.317-.095-.175-.39-.734-.843-1.59C29.625 16.03 25.298 8.522 23.064 5.004 26.08 13.32 35.08 32.79 36.688 34.814zM43.886 45c-.455 0-.863-.275-.999-.686-.094-.107-.701-.352-1.103-.514-.986-.398-2.21-.89-3.013-1.954-1.122-1.483-1.019-2.839.304-4.03a1.54 1.54 0 0 1 .245-.18c1.81-.959 3.029-.659 3.732-.234 2.307 1.391 1.968 5.839 1.876 6.717-.048.462-.437.828-.934.875a1.049 1.049 0 0 1-.108.006zm-3.419-5.728c-.377.343-.611.626.017 1.454.465.615 1.31.956 2.133 1.287l.27.11c-.065-1.35-.35-2.71-.973-3.084-.365-.217-.968-.006-1.447.233zM26.998 28H19a1.005 1.005 0 0 1-.894-1.453l4-8.036c.34-.681 1.449-.681 1.789 0l4 8.036A1.005 1.005 0 0 1 26.997 28zm-6.38-2.01h4.763l-2.382-4.785-2.382 4.786zM4 28H1a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h7.999c.364 0 .698.198.876.516a.996.996 0 0 1-.028 1.014l-5 8A1 1 0 0 1 4 28zm-2-2h1.446l3.75-6H2v6zM46 28h-4c-.378 0-.724-.214-.894-.552l-4-8.002A1 1 0 0 1 38 18h8a1 1 0 0 1 1 1v8.002A.999.999 0 0 1 46 28zm-3.382-2H45v-6.002h-5.382l3 6.002z"/>
                                </g>
                            </svg>
                        </div>
                        <strong>Мобильное<br/>приложение</strong>
                        <p>которое распознает вашу планировку в любом виде даже по адресу</p>
                    </div>
                    <span class="constructor-num"><b>2</b></span>
                </div>
                <div class="constructor-li">
                    <div class="constructor-item">
                        <div class="constructor-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="45" viewBox="0 0 24 45">
                                <g fill="#C6C6C6" fill-rule="nonzero">
                                    <path d="M20.06 45H4.941C4.422 45 4 44.552 4 44c0-2.756 2.113-5 4.712-5h7.54c2.5 0 4.55 2.076 4.703 4.688A.997.997 0 0 1 21 44c.002.554-.42 1-.94 1zM6.046 43h12.87c-.388-1.164-1.436-2-2.665-2h-7.54c-1.229 0-2.277.836-2.665 2zM12 33C5.383 33 0 27.532 0 20.812v-1.875A.93.93 0 0 1 .923 18h3.692c.51 0 .923.42.923.938a.93.93 0 0 1-.923.937H1.846v.938c0 5.686 4.556 10.312 10.154 10.312s10.154-4.626 10.154-10.313v-.937h-2.77a.93.93 0 0 1-.922-.938.93.93 0 0 1 .923-.937h3.692c.51 0 .923.42.923.938v1.875C24 27.532 18.617 33 12 33z"/>
                                    <path d="M12 40c-.552 0-1-.403-1-.9v-7.2c0-.497.448-.9 1-.9s1 .403 1 .9v7.2c0 .499-.448.9-1 .9zM12.5 29C7.814 29 4 25.34 4 20.844V8.156C4 3.66 7.814 0 12.5 0S21 3.66 21 8.156v12.688C21 25.342 17.186 29 12.5 29zm0-27.188c-3.646 0-6.611 2.846-6.611 6.344v12.688c0 3.498 2.965 6.343 6.611 6.343s6.611-2.845 6.611-6.343V8.156c0-3.496-2.965-6.344-6.611-6.344z"/>
                                    <path d="M20.056 17H4.944C4.424 17 4 16.554 4 16s.423-1 .944-1h15.112c.52 0 .944.448.944 1s-.423 1-.944 1zM9 9H5a1 1 0 1 1 0-2h4a1 1 0 0 1 0 2zM9 13H5a1 1 0 1 1 0-2h4a1 1 0 0 1 0 2zM20 9h-4a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zM20 13h-4a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2z"/>
                                </g>
                            </svg>
                        </div>
                        <strong>Умный<br/>помощник</strong>
                        <p>в приложении, который даст советы по стилю, расстановке предметов интерьера и поделиться жизненным опытом тысячи дизайнеров интерьеров</p>
                    </div>
                    <span class="constructor-num"><b>3</b></span>
                </div>
                <div class="constructor-li">
                    <div class="constructor-item">
                        <div class="constructor-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="38" viewBox="0 0 36 38">
                                <g fill="#C6C6C6" fill-rule="nonzero">
                                    <path d="M33.266 37.813h-18.75c-1.293 0-2.344-1.066-2.344-2.376v-9.5c0-1.309 1.051-2.375 2.344-2.375h4.687c.927 0 1.655.882 2.425 1.815.386.467 1.102 1.335 1.392 1.352h10.247c1.292 0 2.344 1.066 2.344 2.375v6.333c-.002 1.31-1.053 2.376-2.345 2.376zM19.184 25.143l-4.668.002a.788.788 0 0 0-.782.792v9.5c0 .435.35.791.782.791h18.75c.43 0 .78-.356.78-.791v-6.334a.789.789 0 0 0-.78-.792H23.017c-1.005 0-1.81-.975-2.587-1.919-.367-.444-.985-1.192-1.246-1.249z"/>
                                    <path d="M33.266 28.313a.787.787 0 0 1-.782-.792v-4.75a.789.789 0 0 0-.78-.792H16.077a.788.788 0 0 0-.781.792v1.583c0 .437-.35.792-.781.792a.787.787 0 0 1-.782-.792v-1.583c0-1.31 1.052-2.375 2.344-2.375h15.625c1.292 0 2.344 1.065 2.344 2.375v4.75c0 .437-.35.792-.781.792zM33.266 17.813h-18.75c-1.293 0-2.344-1.066-2.344-2.375v-9.5c0-1.31 1.051-2.375 2.344-2.375h4.687c.927 0 1.655.881 2.425 1.816.386.465 1.102 1.333 1.392 1.35h10.247c1.292 0 2.344 1.066 2.344 2.375v6.334c-.002 1.309-1.053 2.374-2.345 2.374zM19.184 5.143l-4.668.002a.787.787 0 0 0-.782.792v9.5c0 .436.35.791.782.791h18.75c.43 0 .78-.354.78-.791V9.104a.788.788 0 0 0-.78-.791H23.017c-1.005 0-1.81-.976-2.587-1.918-.367-.448-.985-1.194-1.246-1.25z"/>
                                    <path d="M33.266 8.313a.787.787 0 0 1-.782-.792V2.77a.788.788 0 0 0-.78-.792H16.077a.787.787 0 0 0-.781.792v1.583c0 .437-.35.792-.781.792a.787.787 0 0 1-.782-.792V2.771c0-1.31 1.052-2.375 2.344-2.375h15.625c1.292 0 2.344 1.065 2.344 2.375v4.75c0 .437-.35.792-.781.792z"/>
                                    <circle cx="1" cy="1" r="1"/>
                                    <circle cx="1" cy="5" r="1"/>
                                    <circle cx="1" cy="8" r="1"/>
                                    <circle cx="1" cy="11" r="1"/>
                                    <circle cx="4" cy="11" r="1"/>
                                    <circle cx="7" cy="11" r="1"/>
                                    <circle cx="10" cy="11" r="1"/>
                                    <circle cx="1" cy="14" r="1"/>
                                    <circle cx="1" cy="17" r="1"/>
                                    <circle cx="1" cy="20" r="1"/>
                                    <circle cx="1" cy="23" r="1"/>
                                    <circle cx="1" cy="26" r="1"/>
                                    <circle cx="1" cy="29" r="1"/>
                                    <circle cx="1" cy="33" r="1"/>
                                    <circle cx="4" cy="33" r="1"/>
                                    <circle cx="7" cy="33" r="1"/>
                                    <circle cx="10" cy="33" r="1"/>
                                </g>
                            </svg>
                        </div>
                        <strong>Обширный<br/>каталог</strong>
                        <p>выбор предметов интерьера и отделочных работ по самым приемлемым ценам – вам останется выбрать который подходит вам</p>
                    </div>
                    <span class="constructor-num"><b>4</b></span>
                </div>
                <div class="constructor-li">
                    <div class="constructor-item">
                        <div class="constructor-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" viewBox="0 0 30 40">
                                <g fill="#C6C6C6" fill-rule="nonzero">
                                    <path d="M24.167 40H5.833A5.84 5.84 0 0 1 0 34.167V5.833A5.84 5.84 0 0 1 5.833 0h18.334A5.84 5.84 0 0 1 30 5.833v28.334A5.84 5.84 0 0 1 24.167 40zM5.833 1.667a4.171 4.171 0 0 0-4.166 4.166v28.334a4.171 4.171 0 0 0 4.166 4.166h18.334a4.171 4.171 0 0 0 4.166-4.166V5.833a4.171 4.171 0 0 0-4.166-4.166H5.833z"/>
                                    <path d="M23.536 16H5.464C4.106 16 3 14.906 3 13.562V5.438C3 4.093 4.106 3 5.464 3h18.072C24.894 3 26 4.094 26 5.438v8.125C26 14.905 24.894 16 23.536 16zM5.464 4.625a.818.818 0 0 0-.821.813v8.125c0 .448.37.812.821.812h18.072a.818.818 0 0 0 .821-.813V5.438a.818.818 0 0 0-.821-.813H5.464zM9 26c-.552 0-1-.358-1-.8v-6.4c0-.442.448-.8 1-.8s1 .358 1 .8v6.4c0 .442-.448.8-1 .8z"/>
                                    <path d="M12.2 24H5.8c-.442 0-.8-.448-.8-1s.358-1 .8-1h6.4c.442 0 .8.448.8 1s-.358 1-.8 1zM24.2 24h-6.4c-.442 0-.8-.448-.8-1s.358-1 .8-1h6.4c.442 0 .8.448.8 1s-.358 1-.8 1zM7.833 35a.797.797 0 0 1-.462-.147.903.903 0 0 1-.232-1.213l3.335-5.25a.809.809 0 0 1 1.155-.243c.382.268.487.81.232 1.213l-3.335 5.25a.823.823 0 0 1-.693.39z"/>
                                    <path d="M11.167 35a.822.822 0 0 1-.694-.39L7.14 29.36a.901.901 0 0 1 .232-1.213.808.808 0 0 1 1.155.244l3.333 5.25a.901.901 0 0 1-.232 1.212.796.796 0 0 1-.461.147zM22.167 35a.822.822 0 0 1-.694-.39l-3.333-5.25a.901.901 0 0 1 .232-1.213.808.808 0 0 1 1.155.244l3.333 5.25a.901.901 0 0 1-.232 1.212.796.796 0 0 1-.461.147z"/>
                                </g>
                            </svg>
                        </div>
                        <strong>Калькуляция<br/>сметы</strong>
                        <p>по всем работам и готовый дизайн-проект вашей квартиры</p>
                    </div>
                    <span class="constructor-num"><b>5</b></span>
                </div>
            </div>
        </div>
    </div>
</div>