<div id="download" class="screen">
    <img src="../img/download-group.svg" class="parallax-layer screen-layer" />
    <div class="download content centered">
        <p><strong>Скачать бесплатное мобильное приложение для iPhone и Android</strong></p>
        <ul class="download-links">
            <li >
                <a href="" class="download-link"><img src="../img/app-store-colored.svg" /></a>
            </li>
            <li >
                <a href="" class="download-link"><img src="../img/play-store.svg" /></a>
            </li>
        </ul>
        <ul class="download-images_list">
            <li class="download-images_list-item download-images_list-apple">
                <img src="../img/apple-i-phone-8-plus-silver.png"/>
            </li>
            <li class="download-images_list-item download-images_list-google">
                <img src="../img/galaxy-s-8-midnight-black-360-x-740.png" />
            </li>
        </ul>
    </div>
</div>