<div id="first-screen" class="screen">
    <img src="../img/group-3-copy.svg" class="parallax-layer screen-layer first-screen_group" />
    <img src="../img/table.png" class="parallax-layer first-screen_table screen-layer"/>
    <img src="../img/hands.png" class="parallax-layer first-screen_phone screen-layer"/>
    <div class="content">
        <div class="first-screen_content">
            <div class="">
                <h1 class="first-screen_h1">Робот дизайнер интерьера</h1>
                <p>бесконечное количество вариантов обустройства вашего интерьера для ремонта под ключ</p>
                <p><a href="#download" class="btn btn-reverse">Попробовать бесплатно</a></p>
            </div>
        </div>
    </div>
</div>