<div id="footer" class="screen">
    <img src="../img/footer-circle-left.svg" class="parallax-layer screen-layer footer-circle_left" />
    <img src="../img/footer-circle-right.svg" class="parallax-layer screen-layer footer-circle_right" />
    ${require("./footerForm.html")}
    <div class="footer content centered">
        <div class="footer-top_block">
            <ul class="footer-top_block-social">
                <li><a href="https://www.facebook.com/plannerix" class="footer-top_block-social_item footer-top_block-social_fb">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24">
                        <path fill="#FFF" fill-rule="nonzero" d="M8 24.002H5a.5.5 0 0 1-.5-.5v-10.5H1a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5h3.5v-3.5c0-3.033 2.468-5.5 5.5-5.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3c-.827 0-1.5.673-1.5 1.5v3.5H13c.161 0 .312.077.405.208.095.13.12.298.069.451l-1 3a.501.501 0 0 1-.475.342h-3.5v10.5a.498.498 0 0 1-.499.499zm-2.5-1h2v-10.5a.5.5 0 0 1 .5-.5h3.64l.667-2H8a.5.5 0 0 1-.5-.5v-4c0-1.378 1.121-2.5 2.5-2.5h2.5v-2H10a4.505 4.505 0 0 0-4.5 4.5v4a.5.5 0 0 1-.5.5H1.5v2H5a.5.5 0 0 1 .5.5v10.5z"/>
                    </svg>
                </a></li>
                <li><a href="https://vk.com/plannerix" class="footer-top_block-social_item footer-top_block-social_vk">
                    <svg width="32px" height="18px" viewBox="0 0 32 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
                        <title>Shape</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-579.000000, -8186.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                <g id="footer" transform="translate(-3.000000, 7801.000000)">
                                    <g id="Group-16" transform="translate(471.000000, 367.000000)">
                                        <g id="vk" transform="translate(100.750000, 0.000000)">
                                            <path d="M40.4357917,36 L35.827125,36 C35.0534167,36 34.3275,35.7004286 33.781125,35.1565714 L31.099625,32.4874286 C30.8800417,32.2688571 30.5752083,32.1428571 30.2652083,32.1428571 C29.6142083,32.1428571 29.084625,32.67 29.084625,33.318 L29.084625,34.4198571 C29.084625,35.2915714 28.3729167,36 27.4971667,36 L23.2708333,36 C20.3129167,36 15.5621667,29.3862857 12.096625,23.8384286 C11.3784583,22.6877143 11,21.3582857 11,19.9954286 L11,19.6675714 C11,18.7482857 11.75175,18 12.6752917,18 L16.8125,18 C17.0553333,18 17.2787917,18.1362857 17.3885833,18.3522857 C18.296625,20.1368571 20.8567083,24.9724286 21.7892917,25.902 C22.0269583,26.1372857 22.2555833,26.2761429 22.40025,26.2478571 C22.4855,26.2401429 22.5655833,26.1861429 22.625,26.1308571 L22.625,21.249 C22.625,20.5688571 22.3589167,19.9311429 21.8758333,19.4502857 L21.5219167,19.098 C21.3372083,18.9141429 21.2816667,18.6377143 21.3824167,18.3972857 C21.481875,18.1568571 21.71825,18 21.9791667,18 L27.67025,18 C28.449125,18 29.0833333,18.6312857 29.0833333,19.4065714 L29.0833333,25.983 C29.441125,26.1475714 30.0817917,26.3352857 30.588125,25.8814286 C31.1293333,25.3928571 32.479125,22.7147143 34.0239583,19.0568571 C34.2952083,18.4152857 34.92425,18 35.6269167,18 L40.1580833,18 C41.1733333,18 42,18.8228571 42,19.8347143 C42,20.8697143 41.6422083,21.8854286 40.9925,22.6941429 L36.8333333,27.8691429 L36.8333333,28.6637143 L41.5401667,33.3488571 C41.988375,33.795 42.1214167,34.4597143 41.8785833,35.0421429 C41.63575,35.6232857 41.07,36 40.4357917,36 Z M30.2639167,30.8571429 C30.9239583,30.8571429 31.54525,31.113 32.0128333,31.5784286 L34.6943333,34.2475714 C34.9927083,34.5445714 35.4060417,34.7142857 35.827125,34.7142857 L40.4357917,34.7142857 C40.593375,34.7142857 40.65925,34.6101429 40.6850833,34.5484286 C40.7109167,34.4867143 40.7380417,34.3658571 40.6269583,34.2552857 L35.7315417,29.3824286 C35.610125,29.2628571 35.5416667,29.0995714 35.5416667,28.9285714 L35.5416667,27.6428571 C35.5416667,27.4962857 35.5920417,27.3548571 35.6824583,27.2404286 L39.9837083,21.8892857 C40.4512917,21.3094286 40.7083333,20.5791429 40.7083333,19.8347143 C40.7083333,19.5325714 40.461625,19.2857143 40.1567917,19.2857143 L35.625625,19.2857143 C35.4447917,19.2857143 35.2820417,19.3911429 35.2135833,19.5544286 C34.002,22.4202857 32.36675,26.01 31.4535417,26.8328571 C30.2561667,27.9115714 28.712625,27.3355714 28.0655,26.8817143 C27.8937083,26.7634286 27.7916667,26.5667143 27.7916667,26.3571429 L27.7916667,19.4065714 C27.7916667,19.3397143 27.7374167,19.2857143 27.67025,19.2857143 L23.3754583,19.2857143 C23.7280833,19.8732857 23.9166667,20.547 23.9166667,21.249 L23.9166667,26.3571429 C23.9166667,26.4741429 23.8856667,26.5885714 23.8249583,26.6875714 C23.77975,26.7634286 23.3586667,27.4268571 22.563,27.5232857 C21.9946667,27.5952857 21.4224583,27.3548571 20.8760833,26.811 C19.753625,25.6937143 17.172875,20.7565714 16.4159583,19.2844286 L12.6752917,19.2844286 C12.4634583,19.2857143 12.2916667,19.458 12.2916667,19.6675714 L12.2916667,19.9954286 C12.2916667,21.1191429 12.60425,22.2132857 13.1945417,23.1595714 C17.645625,30.2862857 21.5064167,34.7142857 23.2708333,34.7142857 L27.495875,34.7142857 C27.658625,34.7142857 27.7916667,34.5818571 27.7916667,34.4198571 L27.7916667,33.318 C27.7916667,31.9615714 28.9012083,30.8571429 30.2639167,30.8571429 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a></li>
                <li><a href="https://twitter.com/plannerix" class="footer-top_block-social_item footer-top_block-social_twit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="24" viewBox="0 0 29 24">
                        <path fill="#FFF" fill-rule="nonzero" d="M9.774 23.339c-2.58 0-5.566-.663-8.868-2.517a.599.599 0 0 1-.276-.708.594.594 0 0 1 .64-.41c2.176.25 4.554-.26 6.33-1.303-2.034-.478-3.678-1.799-4.546-3.718a.598.598 0 0 1 .722-.82c.262.08.522.135.773.165-1.544-.922-3.198-2.686-3.198-5.33a.601.601 0 0 1 .977-.466c.192.156.397.287.61.39a6.435 6.435 0 0 1-1.043-2.18c-.399-1.539-.167-3.099.668-4.508a.601.601 0 0 1 .985-.068c1.767 2.207 4.906 4.873 9.953 5.36-.093-1.598.387-4.215 2.592-5.503 2.713-1.584 5.323-1.38 7.566.585.994-.221 2.562-.903 2.887-1.13a.6.6 0 0 1 .924.646c-.15.565-.49 1.194-.912 1.756.335-.1.617-.2.767-.278a.6.6 0 0 1 .782.853c-.705 1.117-1.846 2.156-2.608 2.72.411 5.07-2.551 10.735-7.307 13.892-1.764 1.17-4.663 2.572-8.418 2.572zM3.78 20.887c6.421 2.634 11.284.514 13.747-1.122 4.507-2.993 7.28-8.385 6.744-13.115a.598.598 0 0 1 .267-.568 9.707 9.707 0 0 0 1.312-1.086c-.488.105-.962.176-1.306.177-.332-.04-.537-.203-.59-.486a.598.598 0 0 1 .366-.67c.34-.136.798-.545 1.194-1.047-.679.263-1.413.496-1.953.574a.596.596 0 0 1-.496-.158c-1.893-1.778-4.034-1.99-6.367-.628-2.094 1.224-2.14 4.076-1.92 4.977a.599.599 0 0 1-.616.743c-5.365-.283-8.85-2.815-10.946-5.15a4.57 4.57 0 0 0-.158 2.812c.352 1.36 1.24 2.403 1.915 2.796a.6.6 0 0 1-.184 1.107c-.683.135-1.418.053-2.102-.222.625 2.502 3.227 3.68 3.959 3.762a.602.602 0 0 1 .321 1.055c-.524.442-1.309.656-2.193.612 1.003 1.336 2.558 2.104 4.417 2.145a.6.6 0 0 1 .387 1.047c-1.473 1.32-3.588 2.187-5.798 2.445z"/>
                    </svg>
                </a></li>
                <li><a href="https://www.instagram.com/plannerix_com" class="footer-top_block-social_item footer-top_block-social_inst">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="#FFF" fill-rule="nonzero">
                            <path d="M20.5 24.002h-17c-1.93 0-3.5-1.57-3.5-3.5v-17c0-1.93 1.57-3.5 3.5-3.5h17c1.93 0 3.5 1.57 3.5 3.5v17c0 1.93-1.57 3.5-3.5 3.5zm-17-23a2.503 2.503 0 0 0-2.5 2.5v17c0 1.378 1.121 2.5 2.5 2.5h17c1.379 0 2.5-1.122 2.5-2.5v-17c0-1.378-1.121-2.5-2.5-2.5h-17z"/>
                            <path d="M8.5 8.002h-8a.5.5 0 0 1 0-1h8a.5.5 0 0 1 0 1zM23.5 8.002h-8a.5.5 0 0 1 0-1h8a.5.5 0 0 1 0 1zM20.5 6.002h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5zm-2.5-1h2v-2h-2v2zM2.5 5.002a.5.5 0 0 1-.5-.5v-3.5a.5.5 0 0 1 1 0v3.5a.5.5 0 0 1-.5.5zM4.5 5.002a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v4a.5.5 0 0 1-.5.5zM6.5 5.002a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v4a.5.5 0 0 1-.5.5z"/>
                            <path d="M12 18.002c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6zm0-11c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5z"/>
                            <path d="M12 15.002c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3zm0-5c-1.103 0-2 .897-2 2s.897 2 2 2 2-.897 2-2-.897-2-2-2z"/>
                        </g>
                    </svg>
                </a></li>
                <li><a href="https://www.youtube.com/channel/UCRNrdbX-OycET2888viJW2g" class="footer-top_block-social_item footer-top_block-social_youtube">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18">
                        <g fill="#FFF" fill-rule="nonzero">
                            <path d="M12 17.851c-1.172 0-2.345-.05-3.509-.152l-5.294-.46A3.48 3.48 0 0 1 0 13.752V4.253A3.48 3.48 0 0 1 3.197.766l5.294-.46a40.513 40.513 0 0 1 7.018 0l5.294.46A3.482 3.482 0 0 1 24 4.253v9.499a3.48 3.48 0 0 1-3.197 3.487l-5.294.46a40.235 40.235 0 0 1-3.509.152zm0-16.697c-1.144 0-2.287.049-3.422.148l-5.294.46A2.488 2.488 0 0 0 1 4.253v9.499c0 1.307.982 2.377 2.284 2.491l5.294.46c2.271.197 4.573.197 6.844 0l5.294-.46A2.486 2.486 0 0 0 23 13.752V4.253a2.487 2.487 0 0 0-2.284-2.491l-5.294-.46A39.802 39.802 0 0 0 12 1.154z"/>
                            <path d="M9.5 14.003a.501.501 0 0 1-.5-.5v-9a.501.501 0 0 1 .77-.42l7 4.5a.499.499 0 0 1 0 .84l-7 4.5a.498.498 0 0 1-.27.08zm.5-8.584v7.168l5.575-3.584L10 5.419z"/>
                        </g>
                    </svg>
                </a></li>
            </ul>
            <div class="footer-top_block-mail">
                <a href="mailto:plan@boxglass.ru">plan@boxglass.ru</a>
            </div>
        </div>
        <div class="footer-bottom_block">
            <p class="footer-bottom_block-p"><span>© 2016 — 2018, Планнерикс, Inc</span></p>
            <p class="footer-bottom_block-p footer-bottom_block-flex">
                <a href="${require('../pdf/ilovepdf_jpg_to_pdf.pdf')}" target="_blank" class="">Пользовательское соглашение</a>
                <a href="${require('../pdf/ilovepdf_jpg_to_pdf.pdf')}" target="_blank" class="desc-hidden">API</a>
            </p>
            <p class="footer-bottom_block-p footer-bottom_block-flex">
                <a href="${require('../pdf/ilovepdf_jpg_to_pdf.pdf')}" target="_blank" class="mobile-hidden">API</a>
                <a href=".${require('../pdf/ilovepdf_jpg_to_pdf.pdf')}" target="_blank" class="">Оптовикам и партнёрам</a>
            </p>
        </div>
    </div>
</div>