<div id="footer_form" class="footer_form content centered">
    <form action="/info" method="POST" class="needs-validation" novalidate>
        <input type="hidden" name="tag" value="Запрос на бесплатную консультацию" />
        <h2>Получите бесплатную консультацию</h2>
        <p>Обладая многолетним опытом, уникальной аналитикой и знанием рынка мебели и отделочных материалов, 
                мы поможем найти ответы на самые сложные вопросы</p>
        <div class="footer_form-fieldset">
            <div class="footer_form-field">
                <input type="text" placeholder="Ваше имя" name="name" id="name" required/>
            </div>
            <div class="footer_form-field">
                <input type="email" placeholder="Ваш email" name="email" id="email" required/>
            </div>
            <div class="footer_form-field">
                <button type="submit" class="btn">Отправить</button>
            </div>
        </div>
    </form>
</div>