<div class="popup-content" id="planPopup">
    <div class="popup-content_header">Получить планировку на почту</div>
    <form action="/info" method="POST" class="needs-validation" novalidate>
        <input type="hidden" name="tag" value="Запрос планироваки на почту" />
        <div class="popup_form-fieldset">
            <div class="popup_form-field">
                <input type="text" placeholder="Ваше имя" name="popup-plan-name" id="popup-plan-name" required />
            </div>
            <div class="popup_form-field">
                <input type="text" placeholder="Ваш телефон" name="popup-plan-phone" id="popup-plan-phone" class="phone-mask" required />
            </div>
            <div class="popup_form-field">
                <input type="email" placeholder="Ваш email" name="popup-plan-email" id="popup-plan-email" required />
            </div>
            <div class="popup_form-field">
                <input type="checkbox"  name="popup-plan-check" id="popup-plan-check" required />
                <label for="popup-plan-check" class="agreement"><span>Согласен с <a href="">пользовательским соглашением</a></span></label>
            </div>
            <div class="popup_form-field">
                <button type="submit" class="btn">Отправить</button>
            </div>
        </div>
    </form>
</div>