<div id="header">
    <div class="header content">
        <a href="index.html" class="logo">Plannerix, interactive perspect</a>
        <div class="header-nav-btn">
            <div class="header-nav-btn_close">
                <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
                    <title>menu-1 copy</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="iPhone-8" transform="translate(-274.000000, -29.000000)" fill="#FFFFFF" fill-rule="nonzero">
                            <g id="001" transform="translate(-48.000000, -232.000000)">
                                <g id="menu-1-copy" transform="translate(322.000000, 261.000000)">
                                    <path d="M23.4375,11 L-2.4375,11 C-2.748,11 -3,10.776 -3,10.5 C-3,10.224 -2.748,10 -2.4375,10 L23.4375,10 C23.748,10 24,10.224 24,10.5 C24,10.776 23.748,11 23.4375,11 Z" id="Shape-Copy" transform="translate(10.500000, 10.500000) rotate(-315.000000) translate(-10.500000, -10.500000) "></path>
                                    <path d="M23.4375,11 L-2.4375,11 C-2.748,11 -3,10.776 -3,10.5 C-3,10.224 -2.748,10 -2.4375,10 L23.4375,10 C23.748,10 24,10.224 24,10.5 C24,10.776 23.748,11 23.4375,11 Z" id="Shape" transform="translate(10.500000, 10.500000) rotate(-45.000000) translate(-10.500000, -10.500000) "></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="header-nav-btn_show">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="20" viewBox="0 0 32 20">
                    <g fill="#FFF" fill-rule="nonzero">
                        <path d="M31.333 1.333H.667A.667.667 0 0 1 .667 0h30.666a.667.667 0 0 1 0 1.333zM31.333 10.667H.667a.667.667 0 0 1 0-1.334h30.666a.667.667 0 0 1 0 1.334zM31.333 20H.667a.667.667 0 0 1 0-1.333h30.666a.667.667 0 0 1 0 1.333z"/>
                    </g>
                </svg> 
            </div>               
        </div>
        <ul class="nav">
            <li class="nav-li"><a href="#first-screen" class="nav-link active">Главная</a></li>
            <li class="nav-li"><a href="#portfolio" class="nav-link">Портфолио</a></li>
            <li class="nav-li"><a href="#constructor" class="nav-link">Конструктор</a></li>
            <li class="nav-li"><a href="#services" class="nav-link">Услуги</a></li>
            <li class="nav-li"><a href="#partners" class="nav-link">Партнёры</a></li>
            <li class="nav-li"><a href="#footer" class="nav-link">Контакты</a></li>
        </ul>
    </div>
</div>