<div id="orders" class="screen">
    <img src="../img/order-group.svg" class="parallax-layer screen-layer" />
    <div class="content centered">
        <h2>Заказать Plannerix</h2>
        <div class="orders-slider">
            <div>
                <div class="orders-slide">
                    <div class="orders-slide_img">
                        <img src="../img/5465456564.jpg" srcset="../img/5465456564@2x.jpg" />
                    </div>
                    <h3>Конструктор<span>(наклейки)</span></h3>
                    <p><span class="orders-slide_price">679</span> ₽</p>
                    <a href="#orderPopup" class="btn popup-btn">Заказать</a>
                </div>
            </div>
            <div>
                <div class="orders-slide">
                    <div class="orders-slide_img">
                        <img src="../img/5465456564.jpg" srcset="../img/5465456564@2x.jpg" />
                    </div>
                    <h3>Конструктор<span>(магниты)</span></h3>
                    <p><span class="orders-slide_price">1279</span> ₽</p>
                    <a href="#orderPopup" class="btn popup-btn">Заказать</a>
                </div>
            </div>
            <div>
                <div class="orders-slide">
                    <div class="orders-slide_img">
                        <img src="../img/cardboard.jpg" srcset="../img/cardboard@2x.jpg" />
                    </div>
                    <h3>Кардборд</h3>
                    <p><span class="orders-slide_price">379</span> ₽</p>
                    <a href="#orderPopup" class="btn popup-btn">Заказать</a>
                </div>
            </div>
        </div>
    </div>
</div>