<div class="popup-content" id="orderPopup">
    <div class="popup-content_header">Заказать</div>
    <form action="/info" method="POST" class="needs-validation" novalidate>
        <input type="hidden" name="tag" value="Заказ" />
        <div class="popup_form-fieldset">
            <div class="popup_form-field">
                <input type="text" placeholder="Ваше имя" name="popup-order-name" id="popup-order-name" required />
            </div>
            <div class="popup_form-field">
                <input type="text" placeholder="Ваш телефон" name="popup-order-phone" id="popup-order-phone" class="phone-mask" required />
            </div>
            <div class="popup_form-field">
                <input type="email" placeholder="Ваш email" name="popup-order-email" id="popup-order-email" required />
            </div>
            <div class="popup_form-field">
                <input type="checkbox"  name="popup-order-check" id="popup-order-check" required />
                <label for="popup-order-check" class="agreement"><span>Согласен с <a href="">пользовательским соглашением</a></span></label>
            </div>
            <div class="popup_form-field">
                <button type="submit" class="btn">Заказать</button>
            </div>
        </div>
    </form>
</div>