<div id="partners" class="screen">
    <img src="../img/partner-ellipse-right.svg" class="screen-layer screen-layer_right" />
    <img src="../img/partners-group.svg" class="parallax-layer screen-layer screen-layer_group" />
    <div class="partners content centered">
        <h2>Наши партнёры</h2>
        <div class="type-container">
            <ul class="partners_type-list type-list" data-slider="partners-list">
                <li class="partners_type-list-item type-item"><span>Банки</span></li>
                <li class="partners_type-list-item type-item"><span>Объявления недвижимости</span></li>
                <li class="partners_type-list-item type-item"><span>Девелоперы</span></li>
                <li class="partners_type-list-item type-item"><span>Риэлторы</span></li>
                <li class="partners_type-list-item type-item"><span>Мебель</span></li>
                <li class="partners_type-list-item type-item"><span>Отделочные материалы</span></li>
            </ul>
            <div class="type-indicator"></div>
        </div>
        <div class="partners-list">
            <div class="partners-list_item">
                <div class="partner">
                    <img src="../img/partners/bank-delta.png" />
                </div>
                <div class="partner">
                    <img src="../img/partners/bank dom rf.png" />
                </div>
                <div class="partner">
                    <img src="../img/partners/b logo-tinkoff-bank.png" />
                </div>
            </div>
            <div class="partners-list_item">
                <div class="partner">
                    <img src="../img/partners/d 1502191704_cian.jpg" />
                </div>
                <div class="partner">
                    <img src="../img/partners/d-domofond.png" />
                </div>
                <div class="partner">
                    <img src="../img/partners/d 1_pr_yandex_realty.jpg.pagespeed.ce.ILj_ZB4Y2P.jpg" />
                </div>
            </div>
            <div class="partners-list_item">
                <div class="partner">
                    <img src="../img/partners/dev-Granel.jpg" />
                </div>
                <div class="partner">
                    <img src="../img/partners/dev fsk.jpg" />
                </div>
                <div class="partner">
                    <img src="../img/partners/dev-pik.jpg" />
                </div>
            </div>
            <div class="partners-list_item">
                <div class="partner">
                    <img src="../img/partners/k-domclick.jpg" />
                </div>
                <div class="partner">
                    <img src="../img/partners/k best.jpg" />
                </div>
                <div class="partner">
                    <img src="../img/partners/k etagi.png" />
                </div>
            </div>
            <div class="partners-list_item">
                <div class="partner">
                    <img src="../img/partners/m ikea.png" />
                </div>
                <div class="partner">
                    <img src="../img/partners/m lazurit.jpg" />
                </div>
                <div class="partner">
                    <img src="../img/partners/m-maria-649x480.jpg" />
                </div>
            </div>
            <div class="partners-list_item">
                <div class="partner">
                    <img src="../img/partners/s petrovich1.jpg" />
                </div>
                <div class="partner">
                    <img src="../img/partners/s logo-leroy-merlin.png" />
                </div>
                <div class="partner">
                    <img src="../img/partners/s kisspng-obi-logo-retail-beaver-5acc9bdc5f1988.6095948715233586843895.jpg" />
                </div>
            </div>
        </div>
        <p>Вам нужна целевая аудитория, люди с готовыми проектами и сметами, которые станут вашими клиентами уже завтра? Станьте нашими партнером и за небольшую комиссию мы сможем дать вам таких клиентов</p>
        <a href="#partnerPopup" class="btn popup-btn">Стать партнёром</a>
    </div>
</div>