<div class="popup-content" id="partnerPopup">
    <div class="popup-content_header">Стать нашим партнёром</div>
    <form action="/info" method="POST" class="needs-validation" novalidate>
        <input type="hidden" name="tag" value="Стать партнёром" />
        <div class="popup_form-fieldset">
            <div class="popup_form-field">
                <input type="text" placeholder="Ваше имя" name="popup-partner-name" id="popup-partner-name" required />
            </div>
            <div class="popup_form-field">
                <input type="text" placeholder="Ваш телефон" name="popup-partner-phone" id="popup-partner-phone" class="phone-mask" required />
            </div>
            <div class="popup_form-field">
                <input type="email" placeholder="Ваш email" name="popup-partner-email" id="popup-partner-email" required />
            </div>
            <div class="popup_form-field">
                <input type="checkbox"  name="popup-partner-check" id="popup-partner-check" required />
                <label for="popup-partner-check" class="agreement"><span>Согласен с <a href="">пользовательским соглашением</a></span></label>
            </div>
            <div class="popup_form-field">
                <button type="submit" class="btn">Стать партнёром</button>
            </div>
        </div>
    </form>
</div>