<div class="popup" id="popup">
    <div class="popup-container">
		<div>
			${require("./benefit1Popup.html")}
			${require("./formPopup.html")}
			${require("./testPopup.html")}
			${require("./partnerPopup.html")}
			${require("./orderPopup.html")}
			${require("./thanks.html")}
		</div>
        <div class="popup-close">
			<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
				<title>menu-1 copy</title>
				<desc>Created with Sketch.</desc>
				<defs></defs>
				<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g id="iPhone-8" transform="translate(-274.000000, -29.000000)" fill="#FFFFFF" fill-rule="nonzero">
						<g id="001" transform="translate(-48.000000, -232.000000)">
							<g id="menu-1-copy" transform="translate(322.000000, 261.000000)">
								<path d="M23.4375,11 L-2.4375,11 C-2.748,11 -3,10.776 -3,10.5 C-3,10.224 -2.748,10 -2.4375,10 L23.4375,10 C23.748,10 24,10.224 24,10.5 C24,10.776 23.748,11 23.4375,11 Z" id="Shape-Copy" transform="translate(10.500000, 10.500000) rotate(-315.000000) translate(-10.500000, -10.500000) "></path>
								<path d="M23.4375,11 L-2.4375,11 C-2.748,11 -3,10.776 -3,10.5 C-3,10.224 -2.748,10 -2.4375,10 L23.4375,10 C23.748,10 24,10.224 24,10.5 C24,10.776 23.748,11 23.4375,11 Z" id="Shape" transform="translate(10.500000, 10.500000) rotate(-45.000000) translate(-10.500000, -10.500000) "></path>
							</g>
						</g>
					</g>
				</g>
			</svg>
		</div>
    </div>
</div>