<div id="portfolio">
    <div class="content centered portfolio">
        <h2>Портфолио</h2>
        <div class="type-container">
            <ul class="portfolio-types type-list" data-slider="portfolio-list">
                <li class="portfolio-types_item type-item"><span>Жилая</span></li>
                <li class="portfolio-types_item type-item"><span>Детская</span></li>
                <li class="portfolio-types_item type-item"><span>Санузел</span></li>
                <li class="portfolio-types_item type-item"><span>Спальня</span></li>
                <li class="portfolio-types_item type-item"><span>Кабинет</span></li>
                <li class="portfolio-types_item type-item"><span>Прихожая</span></li>
                <li class="portfolio-types_item type-item"><span>Балкон</span></li>
                <li class="portfolio-types_item type-item"><span>Кухня</span></li>
            </ul>
            <div class="type-indicator"></div>
        </div>
        <div class="portfolio-list">
            <div class="portfolio-list_item">
                <img src="../img/1.png" />
                <div class="portfolio-list_item-desc">
                    <p><strong>Задача:</strong></p>
                    <p>Спроектировать уникальный дизайн жиилой комнаты в стиле грандж с темными оттенками.</p>
                </div>
            </div>
            <div class="portfolio-list_item">
                <img src="../img/1.png" />
                <div class="portfolio-list_item-desc">
                    <p><strong>Задача:</strong></p>
                    <p>Спроектировать уникальный дизайн жиилой комнаты в стиле грандж с темными оттенками.</p>
                </div>
            </div>
            <div class="portfolio-list_item">
                <img src="../img/1.png" />
                <div class="portfolio-list_item-desc">
                    <p><strong>Задача:</strong></p>
                    <p>Спроектировать уникальный дизайн жиилой комнаты в стиле грандж с темными оттенками.</p>
                </div>
            </div>
            <div class="portfolio-list_item">
                <img src="../img/1.png" />
                <div class="portfolio-list_item-desc">
                    <p><strong>Задача:</strong></p>
                    <p>Спроектировать уникальный дизайн жиилой комнаты в стиле грандж с темными оттенками.</p>
                </div>
            </div>
            <div class="portfolio-list_item">
                <img src="../img/1.png" />
                <div class="portfolio-list_item-desc">
                    <p><strong>Задача:</strong></p>
                    <p>Спроектировать уникальный дизайн жиилой комнаты в стиле грандж с темными оттенками.</p>
                </div>
            </div>
            <div class="portfolio-list_item">
                <img src="../img/1.png" />
                <div class="portfolio-list_item-desc">
                    <p><strong>Задача:</strong></p>
                    <p>Спроектировать уникальный дизайн жиилой комнаты в стиле грандж с темными оттенками.</p>
                </div>
            </div>
            <div class="portfolio-list_item">
                <img src="../img/1.png" />
                <div class="portfolio-list_item-desc">
                    <p><strong>Задача:</strong></p>
                    <p>Спроектировать уникальный дизайн жиилой комнаты в стиле грандж с темными оттенками.</p>
                </div>
            </div>
            <div class="portfolio-list_item">
                <img src="../img/1.png" />
                <div class="portfolio-list_item-desc">
                    <p><strong>Задача:</strong></p>
                    <p>Спроектировать уникальный дизайн жиилой комнаты в стиле грандж с темными оттенками.</p>
                </div>
            </div>
        </div>
    </div>
</div>