<div id="services">
    <div class="content centered services">
        <h2>Услуги для бизнеса</h2>
        <div class="type-container">
            <ul class="services_type-list type-list" data-slider="services-list">
                <li class="services_type-list-item type-item"><span>Виртуальные квартиры</span></li>
                <li class="services_type-list-item type-item"><span>Виртуальные шоурумы</span></li>
            </ul>
            <div class="type-indicator"></div>
        </div>
        <div class="services-list">
            <div class="row">
                <div class="col-2">
                    <img src="../img/service-img.jpg" />
                </div>
                <div class="col-2">
                    <p class="services-p-header"><strong>Мы интегрируем систему Plannerix в сайты и мобильные приложения партнеров.</strong></p>
                    <ul class="services-ul">
                        <li>Планировки в векторном формате .svg, в настраиваемом стиле отображения .css</li>
                        <li>Данные по типу, количеству и площади помещений</li>
                        <li>Виртуальная 2D/3D модель квартиры или комнаты, по которой посетители могут пройтись и оценить расположение комнат и возможные интерьеры.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <img src="../img/image_shourums.jpg" />
                </div>
                <div class="col-2">
                    <p class="services-p-header"><strong>Робот автоматически разместит ваши товары с товарами ваших партнеров, в комнатах клиентов.</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>