<div id="test">
    <div class="content centered">
        <h2>Какой стиль интерьера подходит вашей семье</h2>
        <a href="#testPopup" class="btn btn-reverse popup-btn">Пройти тест</a>
    </div>
</div>