<div class="popup-content" id="testPopup">
    <div class="popup-content_header">Пройти тест</div>
    <div class="popup-test">
        <form action="/info" method="POST" class="needs-validation" novalidate>
            <input type="hidden" name="tag" value="Пройден тест" />
            <div class="step step-1">
                <span class="step-counter">1 вопрос</span>
                <p class="step-p">Какой из материалов вам больше нравится?</p>
                <div class="popup_form-fieldset wide">
                    <div class="popup_form-field">
                        <input type="checkbox" name="popup-step1-check1" id="popup-step1-check1" />
                        <label for="popup-step1-check1"><span>- Дерево</span></label>
                    </div>
                    <div class="popup_form-field">
                        <input type="checkbox" name="popup-step1-check2" id="popup-step1-check2" />
                        <label for="popup-step1-check2"><span>- Металл</span></label>
                    </div>
                    <div class="popup_form-field">
                        <input type="checkbox" name="popup-step1-check3" id="popup-step1-check3" />
                        <label for="popup-step1-check3"><span>- Пластик</span></label>
                    </div>
                    <div class="popup_form-field">
                        <input type="checkbox" name="popup-step1-check4" id="popup-step1-check4" />
                        <label for="popup-step1-check4"><span>- Стекло</span></label>
                    </div>
                    <div class="popup_form-field popup_step-btn">
                        <button type="button" class="step-btn btn step-next" name="next" data-slide="1">Далее</button>
                    </div>
                </div>
            </div>
            <div class="step step-2">
                <span class="step-counter">2 вопрос</span>
                <p class="step-p">Какой из материалов вам больше нравится?</p>
                <div class="popup_form-fieldset wide">
                    <div class="popup_form-field">
                        <input type="checkbox" name="popup-step2-check1" id="popup-step2-check1" />
                        <label for="popup-step2-check1"><span>- Дерево</span></label>
                    </div>
                    <div class="popup_form-field">
                        <input type="checkbox" name="popup-step2-check2" id="popup-step2-check2" />
                        <label for="popup-step2-check2"><span>- Металл</span></label>
                    </div>
                    <div class="popup_form-field">
                        <input type="checkbox" name="popup-step2-check3" id="popup-step2-check3" />
                        <label for="popup-step2-check3"><span>- Пластик</span></label>
                    </div>
                    <div class="popup_form-field">
                        <input type="checkbox" name="popup-step2-check4" id="popup-step2-check4" />
                        <label for="popup-step2-check4"><span>- Стекло</span></label>
                    </div>
                    <div class="popup_form-field popup_step-btn">
                        <button type="button" class="step-btn btn step-prev" name="prev" data-slide="2">Назад</button>
                        <button type="submit" class="btn">Отправить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>